333word.csv
data.csv
data_269_word.csv
Geometric.csv
Motion.csv
ourInterpolate.csv
test_dataset.csv
validate_dataset.csv
videos.csv
CNN.h5
hello.h5
hello1.h5
LSTM.h5
model1.h5
model4.h5
model5.h5
Models\model2.h5
Models\model3.h5
weights.11.h5
23naive.pkl
23poly.pkl
23word.pkl
100poly.pkl
geometric5Words.pkl
GradientBoost.pkl
gridsearch.pkl
gridsearch23word.pkl
gridsearchGeoElGded.pkl
highest_SVM.pkl
SVM.pkl
SVMCustomDataset.pkl
data_269_word.csv.zip
ExtraTree.pkl
ExtraTrees.pkl
Models/
saved10/
model/
saved models/
saved modelss/